@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
*
{
  box-sizing: border-box;
}
body
{
  margin:0px;
  padding:14px;
  background-color: #00214f;
  min-height:100vh;
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'Inter', sans-serif;
}
.app-container
{
  width: 100%;
  display: flex;
}
.app-left
{
  flex-basis: 240px;
  background-color: #01081f;
  height: 100%;
  padding: 24px 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.app-left.show
{
  display:block;
}
.app-logo
{
  display: flex;
  align-items: center;
  padding: 0 24px;
}
.app-logo span
{
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  margin-left: 16px;
}
.close-menu
{
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #fff;
  cursor: pointer;
}
ul
{
  list-style-type: none;
  padding: 0;
}
a
{
  text-decoration: none;
  cursor: pointer;
}
button
{
  cursor: pointer;
}
.nav-list
{
  margin-top: 40px;
}
.nav-list-item
{
  margin-bottom: 12px;
}
.nav-list-link
{
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 24px;
  color: #a6a6a6;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-list-link svg
{
  margin-right: 12px;
}
.nav-list-link:after
{
  content: '';
  height: 100%;
  width: 4px;
  background-color: #3d7eff;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 2px;
  opacity: 0;
  height: 0;
}
.nav-list-item:not(.active):hover
{
  background-color: #0c1635;
}
.nav-list-item.active .nav-list-link
{
  color: rgb(235, 235, 235);
}
.nav-list-item.active .nav-list-link:after
{
  height: 100%;
  opacity: 1;
}
.app-main
{
  flex: 1;
  padding: 24px;
  background: radial-gradient(circle, #051340 1%, #040f32 100%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.main-header-line
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.main-header-line h1
{
  color: #fff;
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}
.action-buttons
{
  display: flex;
  align-items: center;
}
.menu-button
{
  width: 40px;
  height: 40px;
  margin-left: 8px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #01081f;
  border: none;
  color: #fff;
  border-radius: 4px;
}
.main-content-container
{
  display: flex;
  justify-content: space-between;
  margin: 0 -8px;
}
.main-content-wrapper
{
  padding: 8px;
}
.main-content-container .big
{
  flex: 1;
  max-width: 60%;
}
.main-content-container .small
{
  width: 40%;
}
.main-content-container .main-content-wrapper .main-content
{
  flex-direction: column;
}
.main-content-container .small .main-content + .main-content
{
  margin-top: 16px;
}
.main-content
{
  width: 100%;
  border-radius: 10px;
  background-color: #01081f;
  padding: 16px;
  display: flex;
  align-items: center;
}
.main-content-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}
.main-content-header h2
{
  margin: 0;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.8;
}
.main-content-header span
{
  color: #3d7eff;
  font-size: 12px;
  line-height: 16px;
}
.main-content-data
{
  background-color: black;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 480px;
  align-items: center;
  border-radius: 8px;
}
.camera-container
{
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 30px 50px -20px rgba(0, 0, 0, 0.7);
}
.camera-top,.camera-mid,.camera-bottom
{
  width: 360px;
}
.camera-top
{
  height: 60px;
  background: linear-gradient(to right, #e2e2e2 0%, #f5f5f5 10%, #f5f5f5 90%, #e2e2e2 100%);
  border: 1px solid #dcdcdc;
  border-top-left-radius: 5px;
}
.camera-top:before
{
  display: block;
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  width: 210px;
  height: 20px;
  background: linear-gradient(to right, #f5f5f5 0%, #f5f5f5 174px, #e2e2e2 100%);
  border: 1px solid #dcdcdc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  box-shadow: inset 0 15px 15px -15px #fdfdfd;
}
.camera-top .zoom
{
  position: absolute;
  top: -15px;
  left: 30px;
  width: 42px;
  height: 9px;
  background: linear-gradient(to right, #b0b0b0 0%, #e2e2e2 30%, #e2e2e2 50%, #e2e2e2 70%, #b0b0b0 100%);
  border: 1px solid #a3a3a3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: inset 0 15px 15px -15px #fdfdfd;
}
.camera-top .zoom:before
{
  display: block;
  content: '';
  position: relative;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 4px;
  background: linear-gradient(to right, #b0b0b0 0%, #e2e2e2 50%, #b0b0b0 100%);
  border: 1px solid #a3a3a3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.camera-top .zoom:after
{
  display: block;
  content: '';
  position: relative;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 46px;
  height: 4px;
  background: linear-gradient(to right, #b0b0b0 0%, #e2e2e2 30%, #e2e2e2 50%, #e2e2e2 70%, #b0b0b0 100%);
  border: 1px solid #a3a3a3;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.camera-top .mode-changer
{
  position: absolute;
  top: -20px;
  left: 82px;
  width: 60px;
  height: 16px;
  background: linear-gradient(to right, #b0b0b0 0%, #e2e2e2 30%, #e2e2e2 50%, #e2e2e2 70%, #b0b0b0 100%);
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  box-shadow: inset 0 15px 15px -15px #fdfdfd;
}
.camera-top .mode-changer:after
{
  display: block;
  content: '';
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background: linear-gradient(to right, #b0b0b0 0%, #e2e2e2 30%, #e2e2e2 50%, #e2e2e2 70%, #b0b0b0 100%);
  border: 1px solid #a3a3a3;
  border-bottom: none;
}
.camera-top .sides
{
  width: 100%;
}
.camera-top .sides:before,.camera-top .sides:after
{
  display: block;
  content: '';
  position: absolute;
  top: 24px;
  width: 8px;
  height: 30px;
  background: linear-gradient(to bottom, #828181 0%, #696767 10%, #4f4d4d 50%, #403e3f 100%);
  border: 1px solid #3E3C3D;
  border-radius: 2px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.5);
}
.camera-top .sides:before
{
  left: -4px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.camera-top .sides:after
{
  right: -4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.camera-top .range-finder
{
  position: absolute;
  top: 10px;
  left: 105px;
  width: 30px;
  height: 20px;
  background: #3E3C3D;
  border-radius: 3px;
  box-shadow: inset 0 0 5px 3px #333132;
}
.camera-top .range-finder:before
{
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background: #797878;
  border-radius: 100%;
}
.camera-top .focus
{
  position: absolute;
  top: -14px;
  left: 156px;
  width: 15px;
  height: 15px;
  background: #3F3D3E;
  border-radius: 100%;
  box-shadow: inset 0 0 4px 3px #2d2b2b, inset 0 4px 5px 0 #f5f5f5, inset 0 -3px 4px -2px #a3a2a2;
}
.camera-top .red
{
  position: absolute;
  top: 5px;
  left: 165px;
  width: 30px;
  height: 30px;
  background: #DC2839;
  border-radius: 100%;
}
.camera-top .view-finder
{
  position: absolute;
  left: 210px;
  width: 48px;
  height: 30px;
  background: radial-gradient(ellipse at center, #828181 0%, #403e3f 85%, #403e3f 100%);
  border: 3px solid #312F2F;
  border-radius: 4px;
  box-shadow: inset 0 8px 8px -8px #fdfdfd;
}
.camera-top .flash
{
  position: absolute;
  top: -6px;
  right: 20px;
  width: 58px;
  height: 46px;
  background: radial-gradient(ellipse at center, #828181 0%, #403e3f 70%, #403e3f 100%);
  border: 2px solid #312F2F;
  border-radius: 3px;
  box-shadow: inset 0 8px 8px -8px #fdfdfd;
}
.camera-top .flash:before,.camera-top .flash:after
{
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.camera-top .flash:before
{
  width: 90%;
  height: 70%;
  background: radial-gradient(ellipse at center, #696767 0%, #1e1e1e 50%, #1e1e1e 100%);
}
.camera-top .flash:after
{
  width: 16px;
  height: 14px;
  background: #797979;
  border-top-left-radius: 8px 2px;
  border-top-right-radius: 8px 2px;
  border-bottom-left-radius: 8px 2px;
  border-bottom-right-radius: 8px 2px;
}
.camera-top .flash .light
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: radial-gradient(ellipse at center, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 100%;
  z-index: 1;
  animation: 2s flash infinite;
}
.camera-mid
{
  position: relative;
  height: 130px;
  background: linear-gradient(to right, #e4e4e4 0%, #fafafa 10%, #fafafa 90%, #e4e4e4 100%);
  border: 1px solid #dcdcdc;
  border-top: none;
  border-bottom: none;
  box-shadow: inset 0 15px 15px -15px #fdfdfd;
}
.camera-mid .sensor
{
  position: absolute;
  top: 40px;
  left: 105px;
  width: 30px;
  height: 30px;
  background: #545252;
  border: 2px solid #545252;
  border-radius: 100%;
  box-shadow: inset 0 12px 12px -10px #fdfdfd, 0 2px 5px 1px rgba(0, 0, 0, 0.3);
}
.camera-mid .sensor:before,.camera-mid .sensor:after
{
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.camera-mid .sensor:before
{
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #e9e9e9 0%, #bdbdbd 100%);
  border-radius: 100%;
}
.camera-mid .sensor:after
{
  width: 12px;
  height: 12px;
  background: #FAFAFA;
  border-radius: 100%;
  box-shadow: 0 2px 3px 0 #747474;
}
.camera-mid .lens
{
  position: absolute;
  top: -20px;
  left: 130px;
  width: 155px;
  height: 155px;
  background: radial-gradient(ellipse at center, #000000 0%, #000000 15%, #272525 30%, #403e3f 30%, #403e3f 31%, #403e3f 40%, #e9ebec 41%, #e9ebec 44%, #b0b1b2 48%, #e8e9ea 50%, #e8e9ea 60%, #f7f8f8 60%, #787979 65%, #ffffff 66%, #ffffff 100%);
  border: 1px solid #B6B7B8;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 7px 15px -2px rgba(0, 0, 0, 0.4), inset 0 -2px 15px -2px rgba(0, 0, 0, 0.2), inset 0 7px 15px -2px #ffffff;
}
.camera-mid .lens:before
{
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  box-shadow: inset 0 5px 3px -2px rgba(255, 255, 255, 0.5), inset 0 -5px 20px -8px rgba(255, 255, 255, 0.5);
}
.camera-bottom
{
  height: 16px;
  background: linear-gradient(to right, #e2e2e2 0%, #f5f5f5 10%, #f5f5f5 90%, #e2e2e2 100%);
  border: 1px solid #dcdcdc;
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset 0 15px 15px -15px #fdfdfd, inset 0 -12px 12px -10px #797979;
}
#toggle-sign-language
{
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 8px;
}
#toggle-sign-language .layer
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}
#toggle-sign-language .knobs
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
#toggle-sign-language .checkbox
{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
#toggle-sign-language .knobs:before, #toggle-sign-language .knobs:after, #toggle-sign-language .knobs span
{
  position: absolute;
  width: 50%;
  height: 100%;
  font-size: 13px;
  text-align: center;
  border-radius: 2px;
  transition: 0.3s ease all;
}
#toggle-sign-language .knobs:after, #toggle-sign-language .knobs span
{
  padding: 7px 4px;
}
#toggle-sign-language .knobs:before
{
  content: "";
  left: 0px;
  background-color: #2c3c78;
}
#toggle-sign-language .knobs:after
{
  content: "Words";
  right: 0px;
  color: #000;
  box-sizing: border-box;
}
#toggle-sign-language .knobs span
{
  color: #fff;
  z-index: 1;
}
#toggle-sign-language .checkbox:checked + .knobs span
{
  color: #000;
}
#toggle-sign-language .checkbox:checked + .knobs:before
{
  left: 50%;
}
#toggle-sign-language .checkbox:checked + .knobs:after
{
  color: #fff;
}
#startCameraButton
{
  background-color: #2c3c78;
  border-radius: 8px;
  border: 2px solid #1b415e;
  color: white;
  padding: 3px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
#startCameraButton:hover
{
  background-color:#253b9e;
}
#startCameraButton.active
{
  background-color: #c50a0a;
  border: 2px solid #7e0000;
}
#startCameraButton:hover.active
{
  background-color:#e70a0a;
}
#predictionPanelTable
{
  border:none;
  color:#eee;
  font-size:12px;
  width:100%;
  margin-bottom:8px;
}
#moveSentenceButton
{
  background-color: #2c3c78;
  border-radius: 6px;
  border: 2px solid #1b415e;
  color: white;
  padding: 3px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
#moveSentenceButton:hover
{
  background-color:#253b9e;
}
#speak
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#speakText
{
  padding: 10px;
  width: 100%;
  font-size: 14px;
  border-radius: 6px;
  margin-bottom: 10px;
  resize:none;
}
#speakText:focus
{
  border: none;
  outline: none;
}
#languageOptions, #voiceOptions
{
  background-color:#2c3c78;
  border: 2px solid #1b415e;
  outline:none;
  padding:3px;
  width:100%;
  text-align:center;
  border-radius:6px;
  margin:5px 0;
  color:white;
}
#languageOptions:hover, #voiceOptions:hover
{
  background-color:#253b9e;
}
#languageOptions option, #voiceOptions option
{
  background-color: white;
  color:black;
}
#speakButton
{
  background-color:#2c3c78;
  border-radius:6px;
  border:2px solid #1b415e;
  color:white;
  padding:3px;
  cursor:pointer;
  margin-top:10px;
}
#speakButton:hover
{
  background-color:#253b9e;
}
#warning
{
  color:rgb(255, 106, 106);
  font-size:1.4rem;
}
@keyframes flash
{
  0%
  {
    width: 0;
    height: 0;
  }
  20%
  {
    width: 100px;
    height: 100px;
  }
  25%
  {
    width: 0;
    height: 0;
  }
  45%
  {
    width: 100px;
    height: 100px;
  }
  50%
  {
    width: 0;
    height: 0;
  }
  100%
  {
    width: 0;
    height: 0;
  }
}
.dictionary-content-container
{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:15px;
}
.dictionary-content-wrapper
{
  padding: 8px;
}
.dictionary-content
{
  width: 100%;
  border-radius: 10px;
  background-color: #01081f;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.dictionary-info-wrapper
{
  flex-basis: 120px;
}
.dictionary-info-wrapper h2
{
  color: #5e6a81;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  margin: 0 0 8px 0;
}
.dictionary-info-wrapper span
{
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
.sign-svg
{
  position: relative;
  max-width: 90px;
  min-width: 40px;
  flex: 1;
}
.circle-bg
{
  fill: none;
  stroke: #eee;
  stroke-width: 1.2;
}
.circle
{
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.circular-chart.green .circle
{
  stroke: #46d839;
}
.circular-chart.green .circle-bg
{
  stroke: #56846b;
}
.circular-chart.blue .circle
{
  stroke: #00cfde;
}
.circular-chart.blue .circle-bg
{
  stroke: #557b88;
}
.circular-chart.pink .circle
{
  stroke: #ff7dcb;
}
.circular-chart.pink .circle-bg
{
  stroke: #6f5684;
}
.circular-chart.brick .circle
{
  stroke: #ac4b39;
}
.circular-chart.brick .circle-bg
{
  stroke: #bb6d40;
}
.circular-chart.violet .circle
{
  stroke: #8500de;
}
.circular-chart.violet .circle-bg
{
  stroke: #685588;
}
.circular-chart.orange .circle
{
  stroke: #ff9f00;
}
.circular-chart.orange .circle-bg
{
  stroke: #776547;
}
.circular-chart.tomato .circle
{
  stroke: #de005d;
}
.circular-chart.tomato .circle-bg
{
  stroke: #885557;
}
.circular-chart.yellow .circle
{
  stroke: #e5ff00;
}
.circular-chart.yellow .circle-bg
{
  stroke: #747747;
}
.circular-chart.brown .circle
{
  stroke: #c04d00;
}
.circular-chart.brown .circle-bg
{
  stroke: #846b56;
}
.circular-chart.red .circle
{
  stroke: #ff1e00;
}
.circular-chart.red .circle-bg
{
  stroke: #774747;
}
.circular-chart.forest .circle
{
  stroke: #1d801d;
}
.circular-chart.forest .circle-bg
{
  stroke: #568462;
}
.circular-chart.maroon .circle
{
  stroke: #800000;
}
.circular-chart.maroon .circle-bg
{
  stroke: #845656;
}
.emptyGrid2
{
  display: none;
}
.admins
{
  margin-top:4px;
}
.admins .box
{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:12px;
}
.admins .box .admin
{
	background-color: #01081f;
  border-radius:0.25rem;
  padding:1rem;
  display:flex;
  align-items:center;
}
.admins .box img
{
  max-width:100%;
  height:auto;
  border-radius:50rem;
}
.admins .box h3
{
	color: #D1D5DB;
  margin-bottom:0.25rem;
  font-size:1.25rem;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.2
}
.admins .box p
{
	color: #9CA3AF;
  margin-bottom:0px;
  margin-top:0px;
}
@keyframes progress
{
  0%
  {
    stroke-dasharray: 0 100;
  }
}
@media screen and (max-width: 1180px)
{
  .main-content-container
  {
    flex-direction: column;
  }
  .main-content-container .big
  {
    max-width: 100%;
  }
  .main-content-container .small
  {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .main-content-container .small .main-content
  {
    width: calc(50% - 8px);
  }
  .main-content-container .small .main-content + .main-content
  {
    margin-top: 0px;
  }
}
@media screen and (max-width: 920px)
{
  .menu-button
  {
    display: flex;
  }
  .app-left
  {
    display:none;
    position: absolute;
    top: 0;
    right:0;
    z-index: 4;
    height: 100%;
    width: 320px;
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, 0.4);
  }
  .close-menu
  {
    display: flex;
  }
  .dictionary-content-container
  {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:15px;
  }
  .emptyGrid1
  {
    display: none;
  }
  .emptyGrid2
  {
    display: block;
  }
  .emptyGrid3
  {
    display:none;
  }
}
@media screen and (max-width: 650px)
{
  .main-content-container
  {
    flex-direction: column;
  }
  .main-content-container .main-content-wrapper
  {
    width: 100%;
  }
  .dictionary-content-container
  {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
  }
  .emptyGrid2
  {
    display: none;
  }
  .admins .box
  {
    display:flex;
    flex-direction:column;
  }
  .admins .box h3
  {
    font-size:1rem;
    font-weight: 500;
    line-height: 1.2
  }
}
@media screen and (max-width: 520px)
{
  .main-content-container .small
  {
    flex-direction: column;
  }
  .main-content-container .small .main-content
  {
    width: 100%;
  }
  .main-content-container .small .main-content + .main-content
  {
    margin-top: 16px;
  }
  .main-header-line h1
  {
    font-size: 14px;
  }
}